@import url('https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
body {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: 'Fira Sans',sans-serif;
}
main {
  margin-top: 50px;
  border-radius: 10px;
  background-color: rgb(175, 168, 182);
  height: 90VH;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
#link-menu {
  position: fixed;
  background-color: #5f3c3c;
  overflow: hidden;
  top: 0px;
  min-width: 60VW;
  height: 50px;
  right: 0px;
}
#link-menu a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#link-menu a:hover {
  background-color: #ddd;
  color: black;
}
#link-menu a.active {
  background-color: #04AA6D;
  color: white;
}
#link-menu .icon {
  display: none;
} 